html, body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:0%;
    background-color: rgb(70, 70, 70);
    color:white;
    background-image:url("/assets/scanlines.png");
    background-blend-mode: soft-light;
    line-height: 1.315;
}

img {
    max-width: 50%;
    height: auto;
    display: block;
}

.main {
}

.sidebar {
    position: fixed;
    top:0;
    left:0;
    background-color: rgb(40, 40, 40);
    width: 17%;
    height: 100%;
    /* border-bottom-right-radius:55% 15%; */
    line-height: 1.125;
}

.article {
    width:76%;
    position: absolute;
    top:28px;
    left:22%;
}

.base {
    justify-content: center;
}

.homepagelink {
    color:white;
    text-decoration: none;
    border-bottom: 3px solid rgb(187, 24, 24);
}
.sidebarlink:link {
    color:rgb(187, 24, 24);
    text-decoration: none;
}
.sidebarlink:visited {
    color:rgb(214, 61, 61);
    text-decoration: none;
}
.sidebarlink:hover {
    color:rgb(255, 95, 95);
    text-decoration: none;
}
.sidebarlink:active {
    color:rgb(255, 95, 95);
    text-decoration: none;
}

.defaultlink:link {
    color:rgb(225, 46, 46);
    text-decoration: none;
}
.defaultlink:visited {
    color:rgb(233, 69, 69);
    text-decoration: none;
}
.defaultlink:hover {
    color:rgb(255, 102, 102);
    text-decoration: none;
}
.defaultlink:active {
    color:rgb(255, 102, 102);
    text-decoration: none;
}